# Namespace for package 'rplotengine'
# -----------------------------------------------
# List of public functions
# -----------------------------------------------
export(rplotengine)
import(xtable)
importFrom("grDevices", "bitmap", "dev.off", "grey", "png", "postscript", "tiff")
importFrom("grDevices", "cairo_pdf")
importFrom("graphics", "barplot", "grid", "legend", "lines", "par", "plot", "segments", "text")
importFrom("utils", "flush.console", "read.table", "write.table") 
importFrom("stats", "smooth.spline")
