# Namespace for package 'rplotengine'
# -----------------------------------------------
# List of public functions
# -----------------------------------------------
export(rplotengine)
import(xtable)

